//Colours-------------------------------------------------------------
$primary: #2DC698;
$primary-90: rgba($primary, 0.9);

$secondary: #AF944D;
$secondary-80: rgba($secondary, 0.8);

$white: #f4fdfb;

$dark-1: #373737;

$black-1: #181818;

$gray-1: #f2f2f2;

$body-bg: $dark-1;

$blue: #1730b9;

$danger: #F31919;

$shape:#F9FAFE;

$gray:  #C7C7C7;
